<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_judge-session._tcp</string>
		<string>_judge-session._udp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>このアプリはホストデバイスとの通信にローカルネットワークを使用します。</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>SystemBlack</string>
		<key>UIImageName</key>
		<string>icon</string>
	</dict>
</dict>
</plist>
